


nav {
	background:	#FF4500;
	height: 50px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;

}

nav >a {
	color: 	#FFFFFF;
	font:'italic';
	font-size: 26px;
	font-weight: 500;
	left: 25px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 10px;
}
nav img {
    border-radius: 30%;
    height: 35px;
	width: 25px;
}


nav sup{
font-family: 'Open Sans', sans-serif;
	color: 	#FFFFFF
	text-align: left;
	color: 	#FFFFFF;
}
nav ul {
	position: absolute;
	right: 25px;
	top:5px;
	color: 	#FFFFFF;
}

nav li {
	display: inline-block;
	padding:0 15px;
	color: 	#FFFFFF;
}
nav li > a {
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
/** section 1**/
#orange {
	
	font-family: 'Teko', sans-serif;
	height: 600px;
}

.main-section p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	line-height: 20px;
	margin: 0 10%;
	width: 45%;
} 
